In [1]:
mean(a)

NameError: name 'mean' is not defined

合計/データ数

In [ ]:
s=0
s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

In [3]:
s=0
s+=1
s+=2
s+=3
s+=4
s+=5

s

15

In [4]:
s=0

for x in[1,2,3,4,5]:
    s=s+x
    
s

15

リストの各要素をxという　(仮の)名前を付けて取り出す

In [5]:
s=0

for 竣 in[1,2,3,4,5]:
    s=s+竣
    
s

15

In [7]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [8]:
s=0

for x in list_tohoku:
    s+=x
    
    
s

32042

In [9]:
s/6

5340.333333333333

In [10]:
s/len(list_tohoku)

5340.333333333333

In [13]:
s

32042

In [14]:
s/=6

In [15]:
s

5340.333333333333

In [27]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
    avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

1207.609246399177

In [18]:
list_shikoku = [3148, 2991, 2966, 2457]

In [26]:
s=0
for x in list_shikoku:
    s +=x
    
s/len(list_shikoku)

2890.5

In [28]:
from statistics import*

In [29]:
mean(list_shikoku)

2890.5

In [31]:
a={'apple':100,'orange':150,'grape':200}

In [32]:
a['apple']

100

In [36]:
for x in a:
    print(x)
print('hello')

apple
orange
grape
hello

In [38]:
for x in a:
    print(x)
    print(a[x])

apple
100
orange
150
grape
200

In [41]:
s=0

for x in a:
    s+= a[x]
    
s

450

In [42]:
s/len(a)

150.0

In [45]:
a

{'apple': 100, 'grape': 200, 'orange': 150}

In [46]:
a.values()

dict_values([100, 150, 200])

In [47]:
mean(a.values())

150

In [51]:
s=0
for x in a.values():
    s+=x
s/len(a)

150.0

In [50]:
s=0
for x in a:
    s+=a[x]
s/len(a)

150.0

47番が実用的

In [56]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
　　　　for key in dict_tohoku:
　　　　print(key)

SyntaxError: invalid character in identifier (<ipython-input-56-1f0fd2568307>, line 2)

In [57]:
a=[1,2,3,4,5]

In [58]:
avg=mean(a)

In [59]:
avg

3

In [60]:
b= [(1-3)**2,(2-3)**2,(3-3)**2,(3-4)**2,(3-5)**2]

In [61]:
b

[4, 1, 0, 1, 4]

In [62]:
var=mean(b)
var

2

In [63]:
stdev=var**0.5
stdev

1.4142135623730951

In [66]:
a=[1,2,3,4,5]
s=0
for x in a:
    s+=x
s

15

In [67]:
s

15

In [74]:
avg= s/len(a)

In [75]:
avg

3.0

In [78]:
s=0
for x in a:
    s += (x - avg)**2

v = s/len(a)
v**0.5

1.4142135623730951

In [79]:
h=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [80]:
s=0
for x in h:
    s +=x

In [81]:
s

210

In [82]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]